Q1. Create one variable containing following type of data:

(i) string

In [1]:
a= 'Piyush'

(ii) list

In [2]:
b=[25, 25.235, "I am an ML engineer"]

(iii) float

In [3]:
c=258.47

(iv) tuple

In [4]:
d=(25, 25.235, "I am an ML engineer")

Q2. Given are some following variables containing data. What will be the data type of the above given variable?

(i) var1 = ‘ ‘ :- string (str)
(ii) var2 = ‘[ DS , ML , Python]’ :- String
(iii) var3 = ['DS' , 'ML' , 'Python' ] :- List
(iv) var4 = 1 :- integer (int)

Q3. Explain the use of the following operators using an example:

(i) /
Used as an arithmatic operator to divide one variable by another and give quotient as the answer. Below is the example:-

In [5]:
a=45
b=8
c=a/b
print(c)

5.625

(ii) %
Used as an arithmatic operator to divide one variable by another and give remainder as the answer. Below is the example:-

In [6]:
a=45
b=8
c=a%b
print(c)

5

(iii) //
Used as an arithmatic operator to divide one variable by another and give divisor as the answer. Below is the example:-

In [7]:
a=45
b=8
c=a//b
print(c)

5

(iv) **
Used as an arithmatic operator to get power of a variable. Below is the example:-

In [8]:
a=2
b=3
c=a**b
print(c)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
l=[24, 42.14, 2+4j, 24, 'pwskills', [23, 4, 'Shubh'], (23, 4, 'p'), {23, 4}, {'class':'Data Science', "students": 4}, False]

In [10]:
len(l)

10

In [11]:
for i in l:
    print(i, type(i))

24 <class 'int'>
42.14 <class 'float'>
(2+4j) <class 'complex'>
24 <class 'int'>
pwskills <class 'str'>
[23, 4, 'Shubh'] <class 'list'>
(23, 4, 'p') <class 'tuple'>
{4, 23} <class 'set'>
{'class': 'Data Science', 'students': 4} <class 'dict'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A= int(input("Enter number A: "))
B= int(input("Enter number B: "))
while (A%B==0):
    print(A//B,"times")
    break

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
l=[]
i=0
while (i<25):
    l.append(i+2)
    i+=1
print(l)

In [ ]:
for i in l:
    if i%3==0:
        print(i,'is divisible by 3')
    else:
        print(i,'is not divisible by 3')

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types are one whose data can be deleted, added, changed. We can make changes in the data of the variable anytime.For Example:-

In [ ]:
l1=[12, 5644, 752, 'Piyush']

In [ ]:
l1.append('pwskills')

In [ ]:
l1

In [ ]:
l1.pop()

In [ ]:
l1

Immutable data types are one whose data cannot be deleted, added, changed. We cannot make any changes in the data of the variable.For Example:-

In [ ]:
t1={12, 5644, 752, 'Piyush'}

In [ ]:
t1[1]='Data'

In [ ]:
a= 'Piyush Datta'

In [ ]:
a[2]='e'